/*Voici mon code en first-mobile*/

header {
    width: 100%;
}

body {
    margin: 5%;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
}

.contenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.paragraphe-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cherche {
    width:100%;
    display: flex;
    flex-direction: column;
}

.arrow {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 28px;
        flex-wrap: nowrap;
        margin-top: -10px;
    }

h1 {
    text-align: center;
    font-size: 75px;
}

i {
    position: absolute;
}

/*Ceci est l'animation du coeur */

.coeur-rempli {
    opacity: 0;
    transition: all;
    transition-duration: 2s;
    color:#FF79DA
}

.coeur-rempli:hover {
    opacity: 1;
    color: #9356DC;
}


.title1 {
    font-family: 'Shrikhand';
    font-size: 60px;
    text-align: left;
    color: black;
    margin-left: 10%;
    margin-top: 15px;
}
 
.logo {
        font-family: 'Shrikhand';
        display: flex;
        justify-content: center;
        margin-top: 38px;
}

.picture {
    height: 510px;
    width: 100%;
    object-fit: cover;
}

/*Voici le code concernant mon animation sur le loader */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}

.chargement {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #f6b93b;
    border-bottom: 10px solid #eb2f06;
    border-left: 10px solid #0c2461;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1.5s linear infinite, fadeOut 1s linear 5s forwards;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

form {
margin-top: 25px;
}

input {
    border: none;
    text-align: center;
    background-color: #F2F2F2;
    font-weight: bold;
    font-size: 26px;
}

.map {
    background-color: #F2F2F2;
    border-top: 2px solid black;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
}

.map i {
    margin-left: -278px;
    font-size: 28px;
}

.menu-nav {
    display: flex;
    flex-direction: column;
}

.menu-restaurant {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.soustitre {
    text-align: center;
    font-size: 39px;
    margin-top: -10px;
}

.buttonrechercher {
    background: linear-gradient(#9356DC, #FF79DA);
    color: white;
    padding: 35px;
    border-radius: 40px;
    font-weight: bold;
    border: none;
    font-size: 20px;
    display: flex;
    margin-bottom: 80px;
    width: 36%;
    justify-content: center;
    height: 68px;
    align-items: center;
    margin-top: -10px;
}

.boutton-1 {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.titre2 {
    font-size: 40px;
}

ol {
list-style-type: none;
}
    
/*Ceci est l'animation pour faire apparaître les différentes parties du menu petit à petit */

@keyframes fadeIn {
    from { opacity: 0; } 
    to { opacity: 1; }
}

.debut {
    opacity: 1;
    animation: fadeIn 5s ease;
}

.milieu {
    opacity: 1;
    animation: fadeIn 10s ease;
}

.fin {
    opacity: 1;
    animation:fadeIn 15s ease;
}

.tuto_number {
    font-size: 20px;
}


.tuto_circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #9356DC;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin-left: -30px;
}

.button:hover {
    box-shadow: 10px 5px 5px black;
    opacity: 1;
    transition: 1s;
}

.buttonrechercher:hover {
    box-shadow: 10px 5px 5px black;
    opacity: 1;
    transition: 1s;
}

.icone {
    font-size: 40px;
    color: #B197FC;
    display: flex;
    align-items: center;
}
    
.iconelist {
    font-size: 40px;
    color:#767474;
    display: flex;
    align-items: center;
}

.iconephone {
    font-size: 40px;
    color: #767474;
    display: flex;
    align-items: center;
}

h6 {
        position: absolute;
        background-color: #99E2D0;
        font-size: 20px;
        margin-top: 15px;
        color: green;
        width: 100px;
        margin-left: 75%;
        text-align: center;
    }

.title-image {
    color: white;
}

nav {
    width: 100%;
}

nav a {
    text-decoration: none;
}

nav .button {
    color: black;
    border: 1px solid grey;
    border-radius: 15px;
    font-weight: bold;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 70px;
    gap: 180px;
    align-items: center;
    font-size: 24px;
}

.resto a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
}

.resto {
    width: 100%;
}

.resto img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
}

.resto .card {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.resto-conteneur {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    flex-direction: column;
}

.heart {
        display: flex;
        flex-direction: column-reverse;
        margin-top: -60px;
        font-size: 40px;
        align-items: center;
        margin-left: 70%;
}


.heart2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-top: -96px;
    font-size: 51px;
    margin-right: 10%;
}

article .card-content {
    display: flex;
    flex-direction: column;
}


.footer__container {
    background-color: #353535;
  }

  .footer__container p {
    padding-left: 22px;
    padding-top: 25px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Shrikhand", sans-serif;
    margin: 0;
  }

  .footer__container__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 22px 25px 22px 25px;
    margin: 0;
    list-style: none;
  }

  .footer__container__list a {
    color: white;
  }

  .footer__container__list a i {
    width: 11px;
    height: 13px;
    padding-right: 20px;
  }

    footer{
        margin-top: 40px;
    }

    footer li span{
    margin-left: 18px;
    }

    .icone_footer {
        margin-left: -10px;
    }


.resto .card-subtitle {
    margin-top: 0px;
    margin-bottom: 50px;
}

.resto.card-text {
    display: flex;
}

ul {
 list-style-type: none;
 margin-left: 15px;
}

a {
    text-decoration: none;
}

.contour {
        border-radius: 50px 50px 0px 0px;
        border: 2px solid white;
        padding-top: 20px;
        margin-top: -58px;
        position: relative;
        width: 100%;
        background-color: white;
    }

.recette {
        border-bottom: #99E2D0 solid 4px;
        margin-top: 130px;
        width: 6.5%;
        font-size: 35px;
        font-weight: 300;
}

h5 {
    font-size: 30px;
    margin-bottom: -10px;
}

.tarif {
    font-size: 25px;
    margin-left: -20px;
}

.fa-arrow-left:before {
    color: black;
    font-size: 30px;
}
/* Cette partie là concerne l'animation de mes prix */

.menu-restaurant {
    height: 90px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid black;
    margin-bottom: 15px;
    overflow: hidden;
    transition: background-color 0.5s, transform 0.5s;

    p {
        margin-right: 10px;
    }

    &:hover {
        .prix {
            transform: translateX(0px);
            transition: transform 0.5s;
        }

        .animation {
            background-color: #99E2D0;
            transition: background-color 0.5s;

            .fa-circle-check {
                transform: rotate(2turn);
                transition: transform 0.5s;
            }
        }
    }
}

.prix {
    display: flex;
    align-items: center;
    width: 15%;
    height: 100%;
    transform: translateX(94px);
    transition: all 0.4s;
}

.text-intitule {
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -32px;
    font-size: 24px;
    margin-left: 15px;
}

.animation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0px 15px 15px 0px;
    .fa-circle-check {
        color: white;
        font-size: 1.2em;
        transition: all 3s;
        }
    }

    .bouton-2 {
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }

    /* Voici la partie du code qui concerne ma version tablette */

    @media (max-width: 768px) {

          .heart2 {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: row;
            margin-top: -96px;
            font-size: 51px;
            margin-right: 11%;
        }

        .footer__container {
            background-color: #353535;
          }
    
          .footer__container p {
            padding-left: 22px;
            padding-top: 25px;
            color: #FFFFFF;
            font-size: 18px;
            font-family: "Shrikhand", sans-serif;
            margin: 0;
          }
    
          .footer__container__list {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 22px 25px 22px 25px;
            margin: 0;
            list-style: none;
          }
    
          .footer__container__list a {
            color: white;
          }
    
          .footer__container__list a i {
            width: 11px;
            height: 13px;
            padding-right: 20px;
          }
    
            footer{
                margin-top: 40px;
            }
    
            footer li span{
            margin-left: 18px;
            }
    
            .icone_footer {
                margin-left: 10px;
            }
    }

    

    /* Voici la dernière partie du code qui concerne ma version desktop*/

    @media (min-width: 1024px) {
        
        body {
        font-family: 'Roboto';
        display: flex;
        justify-content: center;
        flex-direction: column;
        }

        h1 {
            text-align: center;
            font-size: 50px;
        }

        .soustitre {
            text-align: center;
            font-size: 20px;
            margin-top: -10px;
            font-weight: 300;
        }

        .map {
         border: none;
        }

        .buttonrechercher {
        background: linear-gradient(#FF79DA, #9356DC);
        color: white;
        padding: 16px;
        font-weight: bold;
        border: none;
        font-size: 17px;
        display: flex;
        margin-bottom: 80px;
        width: 238px;
        justify-content: center;
        align-items: center;
        height: 54px;
    }

        h6 {
        position: absolute;
        background-color: #99E2D0;
        font-size: 13px;
        color: green;
        width: 6%;
        margin-left: 30%;
        height: 25px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        }

        .resto-conteneur {
        width: 100%;
        display: flex;
        gap: 92px;
        align-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 20px;
        justify-content: space-between;
        margin-top: 30px;
        }

        .resto {
            width: 100%;
            }

    
        .resto img {
                width: 100%;
                height: 191px;
                object-fit: cover;
                border-radius: 20px 20px 0px 0px;
            }
    

        .resto .card-subtitle {
                margin-top: -15px;
                margin-bottom: 50px;
                }  
                
        .recette {
                border-bottom: #99E2D0 solid 4px;
                margin-top: 70px;
                width: 6.5%;
                font-size: 30px;
                font-weight: 300;
                }

        .menu-nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 56px
            }

        nav .button {
            padding: 15px 18px;
            color: black;
            border: 1px solid grey;
            border-radius: 15px;
            font-weight: bold;
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
            justify-content: flex-start;
            align-items: center;
            height: 15px;
            gap: 40px;
            font-size: 14px;
            margin-left: -30px;
            }

        .icone {
            font-size: 23px;
            color: #B197FC;
            display: flex;
            align-items: center;
            }
        
        .iconelist {
            font-size: 23px;
            color: #767474;
            display: flex;
            align-items: center;
            }

        .iconephone {
            font-size: 23px;
            color: #767474;
            display: flex;
            align-items: center;
            }   

        .contenu {
            margin-left: 0;
            margin-right: 0;
            }

        .icn {
                padding-right: 30px;
            }    

        .card-content {
            width:45%
            }

        .heart {
            display: flex;
            flex-direction: column-reverse;
            margin-top: -60px;
            font-size: 27px;
            align-items: center;
            margin-left: 70%;
        }


        .picture {
            height: 414px;
            width: 100%;
            object-fit: cover;
            }    

        h5 {
            font-size: 25px;
            }   

        .menu-restaurant {
            height: 75px;
            width: 100%;
            border-radius: 15px;
             border: 2px solid black;
            margin-bottom: 15px;
            overflow: hidden;
            transition: background-color 0.5s, transform 0.5s;
            }

            .text-intitule {
                height: 100%;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                margin-top: -17px;
                margin-left: 15px;
                justify-content: center;
            }

            p {
                margin-right: 10px;
                margin-top: 8px;
            }

            .tarif {
                font-size: 15px;
                margin-left: -20px;
                margin-top: 36px;
            }


            .contour {
                border-radius: 50px 50px 0px 0px;
                border: 2px solid white;
                padding-top: 20px;
                margin-top: -40px;
                position: relative;
                width: 76%;
                background-color: white;
                display: flex;
                align-items: stretch;
                margin-left: 10%;
                flex-direction: column;
            }

            .picture {
                height: 414px;
                width: 100%;
                object-fit: cover;
            }

            .title1 {
            font-family: 'Shrikhand';
            font-size: 40px;
            text-align: left;
            color: black;
            margin-left: 16%;
            margin-top: 54px;
            }

            .heart2 {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-direction: row;
                margin-top: -73px;
                font-size: 40px;
            }

            .footer__container {
                display: flex;
                flex-direction: row-reverse;
                padding: 30px 25px 30px 25px;
                padding-top: 40px;
                align-items: flex-end;
             }
    
              .footer__container p {
                padding: 0;
              }
              
              .footer__container .footer__container__list {
                flex-direction: row;
                padding: 0;
                margin-right: 100px;
              }

            }
